ul {
  height: 130px;
  width: 9999px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

img {
  width: 130px;
  height: 130px;
  display: block;
}

li {
  display: inline-block;
}

.previous, .next {
  padding: 0;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 40px;
  color: #444;
  display: block;
  position: absolute;
  z-index: 100;
}

.previous:hover, .next:hover {
  background: #ccc;
  cursor: pointer;
}

.previous:focus, .next:focus {
  outline: none;
}

.previous {
  top: 35%;
  left: 1%;
}

.next {
  top: 35%;
  right: 1%;
}

.carousel {
  background-color: gray;
  width: 500px;
  border-radius: 20px;
  height: 160px;
  position: relative;

}

.galery {
  position: absolute;
  width: 390px;
  top: 15px;
  left: 55px;
  overflow: hidden;
}